.api-styles-container{
    text-align: center;
    margin-top: 20px;
    font-family: "EB Garamond";
}

.header{ 
    font-size: 80px;
    color:white;
}

.select{
    font-size: 30px;
    color:white;
}

.favorites{
    color:white;
    font-size: 20px;
}
.save-button{
    margin-top: 40px;
    box-shadow: 0 7px 0 -3px rgba(0, 0, 0, 1);
    font-size: 15px;
    border-radius: 20px;
    font-family: 'EB Garamond';
    width: 100px;
    
}

.save-button:hover{
    color:white;
    background-color: black; 
}



/* <div className="api-styles-container">
<h1 className="header">Welcome {user?.username}</h1>
<p className="favorites">favorites: {user.favorites}</p>
<p className="select">Select APIS:</p> */
