.navbar {
  background-image: url(../assets/nav.png);
  /* position: sticky;
  top: 0;
  z-index: 1000; */
  font-family: "Sue Ellen Francisco";
  font-size:30px;
}

.navbar-item {
  display: none;
  display:flex;
  margin-left: 2.7em;
  
}

.navbar-item:hover{
  font-weight: bold;
}

.nav-link{
  display:none;
}

.navbar-brand {
  display: inline-block;
  position: relative;
  letter-spacing: 0.6em;
  color: #282828;
  padding: 5px 24px 5px 0;
}

.home-image{
  width: 50px;
  border-radius: 30px;
}
.user-image{
  width: 50px;
  border-radius: 30px;
}

.about-image{
  width: 50px;
  border-radius: 30px;
}
.admin-image{
  width: 50px;
  border-radius: 30px;
}

.api-image{
  width: 50px;
  border-radius: 30px;
}

